.page-builder-custom-title-wrap{
  .sub-title{
    font-size: size_px2rem(18px);
    text-transform: uppercase;
  }
  .title{
    margin-top: size_px2rem(5px);
    font-size: size_px2rem(48px);
    line-height: size_px2rem(60px);
  }
}