.widget_templines_theme_helper_dealer_info{
  .footer-dealer-info-wrap{
    .dealer-info-item{
      margin-top: size_px2rem(26px);
      &:first-child{
        margin-top: 0;
      }
      .title-content{
        text-transform: uppercase;
        color: #fff;
        line-height: 1.2;
        margin-bottom: size_px2rem(7px);
        font-size: size_px2rem(15px);
      }
      .days-content,.hours-content{
        font-size: size_px2rem(14px);
      }
    }
  }
}